@font-face {
    font-family: Open_Sans;
    src: url(./assets/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open_Sans";
}

